/* .kanban-column .add-card,
.kanban-column .new-card-area {
	display: none !important;
}

.enhanced-add-card {
	padding: 10px;
	border-radius: var(--border-radius);
	border: 1px dashed var(--border-color);
	text-align: center;
	cursor: pointer;
	background-color: var(--fg-color);
	font-size: var(--text-sm);
	color: var(--text-muted);
	margin-top: 10px;
}

.enhanced-add-card:hover {
	background-color: var(--button-secondary-hover);
}  */